body {
	margin: 0;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.header-image {
	background-image: url('./header.jpeg');
	position: relative;
	background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 80vh;
  box-shadow: 0 0 20px 0px rgb(47, 47, 47),
              0 0 20px 0px rgba(107, 104, 104, 0);
}

.header-text {
	position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
}
.header-text h1 {
	font-size: 6em;
    color: #FFF;
    margin: 0.67em 0;
    margin-bottom: 10px;
}
.header-text p {
	text-transform: uppercase;
	color: #FFF;
	font-size: 2em;
    margin-top: 5px;
		margin-bottom: 20px;
}

.headshot {
  width: 38%;
  border-radius: 100%;
  box-shadow: 0 0 20px 0px rgb(47, 47, 47),
              0 0 20px 0px rgba(107, 104, 104, 0);
}

.intro {
  margin: 0 auto;
  width: 30%;
  text-align: center;
  padding-top: 7%;
}

.intro-text {
  padding-bottom: 2%;
}

/*Download Button*/

.download-link {
  text-decoration: none;
  padding: 10px 10px;
  background-color: #37454e;
  border: #37454e;
  color: white;
  border-radius: 5px;
  width: 15%;
}

 .download-link:hover {
  background: white;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  transition: .3s ease background;
  border-radius: 5px;
}


/*Project Div */

.projects {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

/*Project Displays with Hover */

.container {
  margin-bottom: 10%;
}

.project-container{
  /*padding: 1em 0;*/
  /*border-radius: 50%;*/
  box-shadow: 0 0 15px 0px rgb(47, 47, 47),
              0 0 15px 0px rgba(107, 104, 104, 0);
}

.content-image {
  /*width: 400px;*/
  height: 220px;
  width: 300px;
}

.content {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  /*border-radius: 50%;*/
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  /*border-radius: 50%;*/
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.skills-image {
  height: 80px;
}

.skills-div {
  text-align: center;
  padding-bottom: 20px;
}

.skills-text {
  text-align: center;
  padding-bottom: 3%;
}
